<html>
<head>
    <title>My wishlist</title>
</head>
<body background="{{ url_for('static', filename='collage1.jpeg') }}">
    {% include 'header.html' %}
    <ul class="list-group">
    {% for movie in movies %}
        <li class="list-group-item">
            <div>
            <a href="movie/{{movie.imdbid}}">
                <p>{{movie.title}}</p>
                <img src="{{movie.poster}}" height="200px">
            </a>
            <p>{{movie.year}}</p>
            </div>
            <br>
        </li>
    {% endfor %}
    </ul>
</body>
</html>
